# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Optional npm cache
.npm

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db
